* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.button-primary {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: rgba(70, 145, 101, 1);
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* start header section */
.header-container {
  width: 85%;
  max-width: 1360px;
  margin: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu li {
  list-style-type: none;
  margin-right: 32px;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.banner {
  background-image: url("../assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-container {
  padding: 115px 0 179px;
}

.banner-content {
  width: 85%;
  max-width: 1360px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.first-text,
.heading-btn2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 8px 12px;
  font-size: 16px;
  color: #469165;
  gap: 3px;
  margin-bottom: 24px;
}

.banner-content h1 {
  font-style: Bold;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 16px;
}

.banner-content .heading-text {
  font: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}

.button-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.btn {
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
  outline: none;
}

.btn-green {
  background-color: #469165;
  color: #ffffff;
  border: none;
}

.btn-outline {
  border: 1px solid white;
  color: white;
}

.btn-green .btn-icon {
  margin-left: 10px;
}

.btn-outline .btn-icon {
  margin-right: 10px;
}
/* end header section */

/* start card section */
.card {
  background-color: rgb(251, 251, 251);
}

.card-content {
  text-align: center;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

.card-heading h4 {
  font-size: 48px;
  font-weight: bold;
  color: rgba(0, 25, 49, 1);
  padding-top: 30px;
}

.card-heading p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(98, 115, 130, 1);
  margin: 16px auto 44px auto;
}

.card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  width: 322px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.card-info .img-icon img {
  width: 32px;
}

.img-icon {
  background-color: #f95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 69px 131px 16px 131px;
}

.card-info h4 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 16px;
  color: rgba(0, 25, 49, 1);
}

.card-info p {
  font-size: 16px;
  color: rgba(98, 115, 130, 1);
  padding: 0 16px 0 16px;
}
/* end card section */

/* start brain section */
.brain-container {
  width: 85%;
  max-width: 1360px;
  margin: 120px auto;
}
.brain-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.brain-content .brain-img {
  width: 600px;
}

.brain-text .green-text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  color: rgba(70, 145, 101, 1);
}

.brain-text h2 {
  font-size: 51px;
  font-weight: bold;
  margin-bottom: 16px;
  color: rgba(0, 25, 49, 1);
}

.brain-text .normal-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
  color: rgba(98, 115, 130, 1);
}

.p-list img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.p-list p {
  display: flex;
  margin-bottom: 10px;
}

/* end brain section */

/* start think section */
.think-container {
  width: 85%;
  margin: 0 auto 120px;
  background-color: #f7f6f2;
  border-radius: 12px;
}

.think-content {
  padding: 80px 40px;
  text-align: center;
  justify-content: center;
}

.think-content h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 16px;
  color: rgba(0, 25, 49, 1);
}

.think-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  color: rgba(98, 115, 130, 1);
}
/* end think section */
